/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-1: #ff9f1c;
    --color-2: #ffbf69;
    --color-3: #ffffff;
    --color-4: #cbf3f0;
    --color-5: #2ec4b6;
  }
body {
    color: var(--color-1);
    background-color: var(--color-4);
    font-family: Helvetica, Arial, sans-serif;
}
/* header styles */
header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 159, 28, 0.4);
}
.timer {
    color: var(--color-5);
}
/* Question styles */
main {
    margin-top: 100px;
}
.question {
    height: 100px;
    width: 80%;
    margin: auto;
}
.question-text {
    text-align:center;
}
/* button styles */
.answer-choice, .start button {
    background-color: var(--color-5);
    border: 2px solid var(--color-3);
    border-radius: 25px;
    color: var(--color-3);
    padding: 10px 24px;
    cursor: pointer;
    width: 25%;
    display: block;
    margin-top: 10px;
}
.answer-choice:hover {
    background-color: var(--color-2);
}
.answer-wrapper {
    width: 80%;
    margin: auto;
    
}
/* highscore styles */
.highscore, .feedback, .page-content {
    display: none;
}
.feedback {
    height: 100px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-top: 1px solid var(--color-1);
}
.feedback p {
    text-align: center;
    padding: 20px;
}

.start {
    width: 80%;
    margin: auto;
}
.start h2, .start p {
    text-align: center;
    padding: 10px;
}
.start button {
    margin: auto;
    margin-top: 50px;
}
.start h2 {
    margin-top: 100px;
}
